

.main-container{
  display: flex;
  width: 100%;
  height: 2.7rem;
  align-items: center;
  margin-bottom: 2rem;
}

.icon-avatar{
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: rgb(86, 255, 122);
  margin-right: 1rem;
}

.main-content-container{
  margin-top: .3rem;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  ion-item-group:last-child{
    ion-text{
      font-weight: lighter;
      color: #9b9b9b;
    }
  }
}

.content-container{
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.content-container:first-child{
  ion-text{
    color: #292929
  }
}

ion-text{
  line-height: 1rem;
  font-size: 1.5rem;
  align-items: flex-start;
}
