<ion-content class="main-container" scrollY="false">
  <ion-header>
    <div class="header-bar">
      <div class="screen-title">My Cards</div>
      <div class="header-actions">
        <ion-icon name="notifications"></ion-icon>
        <ion-icon name="log-out-outline"></ion-icon>
      </div>
    </div>
  </ion-header>
  <ion-content scrollY="false" class="internal-container">


    <ion-item-group class="card-content-container">
      <swiper
        [pagination]="{
          dynamicBullets: true
        }"
        class="mySwiper"
      >
        <ng-template swiperSlide >
          <app-bank-card (click)="openTransactions()"></app-bank-card>
        </ng-template>
        <ng-template swiperSlide>
          <app-bank-card (click)="openTransactions()"></app-bank-card>
        </ng-template>
        <ng-template swiperSlide>
          <app-bank-card (click)="openTransactions()"></app-bank-card>
        </ng-template>
      </swiper>
    </ion-item-group>

    <div class="action-container">
      <ion-button>
        <div>
          <div class="icon-container">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </div>
          <div>
            Top up
          </div>
        </div>
      </ion-button>

      <ion-button>
        <div>
          <div class="icon-container">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
          <div>
            Send
          </div>
        </div>

      </ion-button>

      <ion-button>
        <div>
          <div class="icon-container">
            <ion-icon name="add-outline"></ion-icon>
          </div>
          <div>
            Pay
          </div>
        </div>
      </ion-button>
    </div>


  </ion-content>
</ion-content>
