
ion-header{
  padding: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;

  ion-text{
    color: #000;
    font-size: 1.5rem;
    margin-top: .2rem;
  }
}

ion-content{
  --padding-start: 1rem;
  --padding-end: 1rem
}

//Card
ion-card{
  --background: #e042f5;
  --color: #fff;
  border: 2px solid #fff;
  height: 11rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-card-header{
  display: flex;
  justify-content: space-between;

  ion-icon{
    font-size: 22px;
  }
  ion-text{
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: normal;
  }
}

ion-card-content{
  display: flex;
  justify-content: space-between;

  ion-item-group{
    display: flex;
    flex-direction: column;

    ion-text:first-child{
      font-size: 17px;
    }
    ion-text:last-child{
      font-size: 2rem;
    }
  }

  .text-label{
    font-size: 2rem;
    font-style: italic;
    align-self: flex-end;
  }
}




ion-button{
  --background: #fff;
  --color: #000;
}

.list-header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  ion-text{
    font-size: 2.2rem;
  }
  ion-button{
    --padding-end: 0;
    color: #9b9b9b;
    font-size: 20px;
  }
}


