<ion-header>
  <ion-button>
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-text>Cards</ion-text>

</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <ion-icon name="radio-outline"></ion-icon>
      <ion-text>****7645</ion-text>
    </ion-card-header>

    <ion-card-content>
      <ion-item-group>
        <ion-text>Balance</ion-text>
        <ion-text>$3,650</ion-text>
      </ion-item-group>
      <ion-text class="text-label">VISA</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-content scrollY="false" class="content-list-container">
    <ion-item-group class="list-header">
      <ion-text>Transactions</ion-text>
      <ion-button>See more</ion-button>
    </ion-item-group>
    <ion-list>

      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>

    </ion-list>
  </ion-content>
</ion-content>
