<ion-header>
  <ion-button (click)="goHome()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <ion-text>Cards</ion-text>

</ion-header>

<ion-content >
  <app-bank-card></app-bank-card>

  <ion-content scrollY="false" class="content-list-container">
    <ion-item-group class="list-header">
      <ion-text>Transactions</ion-text>
      <ion-button>See more</ion-button>
    </ion-item-group>
    <ion-list>

      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>
      <app-transaction></app-transaction>

    </ion-list>
  </ion-content>
</ion-content>
